.sidebar{
    background-color: white;
    width: 70px;
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 67px;
    left: 0;
    bottom: 0;
    padding-left: 3px;
    z-index: 200;
}
.sidebar-icon{
    width: 70px;
    height: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 10px;
    transition: all 0.2s;
    cursor: pointer;
}
.sidebar-icon:hover{
    background-color: rgb(224, 224, 224);
}
.sidebar-icon:active{
    background-color: rgb(202, 200, 200);
}
.sidebar-icon-img{
    width: 25px;
    height: 25px;
}
.icon-name{
    font-size: 10px;
}